# .env
VITE_SUPABASE_URL=https://fpavemysfakxkfpersll.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwYXZlbXlzZmFreGtmcGVyc2xsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM2ODg5MzIsImV4cCI6MjA2OTI2NDkzMn0.4GKr7J2R7C8nYUN1uGam9ozLpkAzvo64JRpSIsQRC-c
